.hero-container {
  display: flex;
  height: 160%;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
}

.hero-image {
  flex: 1.1;
  /* height: 100vh; */
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-content {
  flex: 0.9;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;

  background-color: var(--bg-light);
}

.hero-main-text {
  max-width: 500px;
  margin: 0 auto;
}

.hero-main-text h1 {
  font-size: 2rem;
  line-height: 1.2;
  color: var(--text-dark);
  margin-bottom: 1.5rem;
}

.hero-description {
  color: var(--text-dark);
  margin-bottom: 2rem;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-box {
  background-color: var(--light-orange);
  color: #d48344;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.2rem;
}

.feature-item p {
  font-weight: 600;
  font-size: 0.95rem;
  color: var(--text-dark);
}

.cta-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 25px;
}

.btn-primary {
  background-color: var(--primary-orange);
  color: white;
  border: none;
  padding: 18px;
  border-radius: 10px;
  /* font-size: 1rem; */
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: #e67a1e;
}

.btn-secondary {
  background-color: transparent;
  border: 1.5px solid var(--primary-blue);
  color: var(--primary-blue);
  padding: 18px;
  border-radius: 10px;
  /* font-size: 1rem; */
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #f9fafb;
  border-color: #3b82f6;
}

.hero-legal-footer {
  text-align: center;
  font-size: 0.85rem;
  color: var(--text-dark);
  padding-top: 10px;
  border-top: 1px solid var(--soft-grey);
}

.hero-legal-footer a {
  color: var(--soft-blue);
  text-decoration: none;
  margin-left: 15px;
}

@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    height: auto;
  }
  .hero-image {
    height: 400px;
  }
  .hero-content {
    padding: 40px 20px;
  }
}
