:root {
  --primary-orange: #ff8a22;
  --primary-brown: #63422b;
  --text-dark: #1f2937;
  --text-light: #666666;
  --bg-light: #ffffff;
  --font-main: "Poppins", sans-serif;
  --font-accent: "Cursive", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  color: var(--text-dark);
  line-height: 24px;
  /* font-weight: 500; */
}

button,
input {
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
