html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  font-weight: 500;
  color: #1f2937;
  line-height: 24px;
  letter-spacing: 0%;
}
