:root {
  --primary-orange: #ff7a18;
  --primary-brown: #63422b;
  --primary-blue: #1e88e5;
  --soft-blue: #64b5f6;
  --light-orange: #ffe1c4;
  --soft-grey: #f3f4f6;
  --text-dark: #1f2937;
  --text-light: #666666;
  --bg-light: #ffffff;
  --font-main: "SN Pro", sans-serif;
  --font-logo: "Island Moments", cursive;
  --font-accent: "Cursive", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  color: var(--text-dark);
  line-height: 24px;
  font-weight: 500;
}

button,
input {
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
